{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://unpkg.com/htmx.org@2.0.4"></script>
    <link rel="stylesheet" href="{% static "tailwind/output.css" %}">
  </head>
  <body>
    <nav hx-boost="true">
      <a class="btn btn-primary" href="/">Home</a>
      <a class="btn btn-secondary" href="/about">About</a>
      <a class="btn btn-accent" href="/contact">Contact</a>
    </nav>
    {% block contents %} {% endblock contents %}
  </body>
</html>
